[Unit]
Description=EchoView Display Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/EchoView/display/main.py
Restart=on-failure
User=pi
WorkingDirectory=/home/pi/EchoView

[Install]
WantedBy=multi-user.target
