{% extends "base.html" %}
{% block content %}
<h2>Device Info</h2>
<div id="device-info" style="margin-bottom:1.5em;"></div>
<h2>Screen Settings</h2>
<div id="screen-settings"></div>
<div id="mode-row" class="row" style="margin-bottom:1em;"></div>
<div id="slideshow-controls" class="row">
    <button onclick="prevSlide()">&lt; Prev</button>
    <button onclick="nextSlide()">Next &gt;</button>
    <form id="setForm" onsubmit="setSlide(event)" class="row">
        <input id="slideIdx" type="number" min="0" value="0" style="width:4em;">
        <button type="submit">Go to Slide</button>
    </form>
    <form id="intervalForm" onsubmit="setInterval(event)" class="row">
        <input id="interval" type="number" min="1" value="5" style="width:4em;">
        <button type="submit">Set Interval (s)</button>
    </form>
</div>
<div id="current"></div>
<div id="media-list"></div>
{% endblock %}
{% block scripts %}
<script src="/static/screens.js"></script>
{% endblock %}
